@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section > div:nth-child(2) > div:nth-child(4) > div.mobile-content-container {
    @apply -order-1;
  }

  section > div:nth-child(2) > div:nth-child(2) > div.mobile-content-container {
    @apply -order-1;
  }
  .copyright {
    @apply -order-1;
  }
  .btn-footer {
    @apply -order-1;
  }
  .vl {
    border-left: 1px solid #9b9b9c;
    height: 20px;
  }
  .inputBorder {
    border: 1px solid #c3c5dc;
  }
  .btn {
    border: 1px solid #247ab5;
  }
}
